.about {
    background-color: #f8f8f8;
    margin: auto;
    padding: 8rem 1rem 1rem 1rem;
    width: 100%;
}

.about h2 {
    font-size: 3rem;
}

.about .container {
    display: flex;
}

.p-container {
    padding: 0rem 2rem;
}

.about .container img {
    padding: 0rem;
    width: 100%
}

.about button {
    margin-top: 1rem;
}

@media screen and (max-width:940px) {
    .about {
        background-color: #f8f8f8;
        margin: auto;
        padding: 3rem 1rem 0 1rem;
        width: 100%;
    }

    .about .container {
       display: block;
    }

    .about .container {
        width: 100%;
    }

    .about .container img {
        padding: 0rem;
    }

    .p-container {
        padding: 1rem 0rem;
    }

    .about button {
        margin-bottom: 1rem;
    }
}









